{% load static %}


<section class="jumbotron bg-dark text-white" style="width:100%; padding:0;margin:0;">
    <div class="container">
        <div class="footer">
            <div class="footer-lists">
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">О Нас</h6>
                    </li>
                    <li class="list-body">
                        <a href="#" class="logo">
                            <img src="{% static 'imgs/logo/palms.png' %}"
                                 alt="Tropic Joy Travel">
                            <h6>Тропик Джой Трэвел</h6>
                        </a>
                        <p>Тропик Джой Трэвел для Туристических услуг, у нас есть талантливые сотрудники, с которыми ваш
                            отпуск будет идеальным <br>
                        </p>
                        <p class="mt-3">
                            Copyright
                            <script>document.write(new Date().getFullYear())</script> &copy; <a
                                class="d-inline text-primary" href="https://markavilin1.github.io/portfolio/">Avilin Web
                            Services</a>
                        </p>
                    </li>
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">Полезные ссылки</h6>
                    </li>
                    <li class="list-body">
                        <div class="row">
                            <div class="col">
                                <a href="#about">О Нас</a>
                                <a href="#service">Услуги</a>
                                <a href="{% url 'contact_en' %}">Контакты</a>
                                <a href="{% url 'trips_en' %}">Экскурсии</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'city_en' %}">Городской Тур</a>
                                <a href="{% url 'safari_en' %}">Себу Сафари</a>
                                <a href="#own_trip">Твоя Собственная Экскурсия</a>
                                <a href="{% url 'kawasan_en' %}">Ослоб & Кавасан</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">Инфо для связи</h6>
                    </li>
                    <li class="list-body">
                        <p>Свяжитесь с нами, мы ответим быстро))</p>
                        <p><img src="{% static 'imgs/logo/address.png' %}" alt="Address"
                                style="max-width:20px;max-height:20px"> Филипины, Себу</p>
                        <a href="emailto:tropicjoytravel@gmail.com"><img src="{% static 'imgs/logo/email.png' %}"
                                                                         alt="Email"
                                                                         style="max-width:20px;max-height:20px">
                            tropicjoytravel@gmail.com</a>

                        <a href="https://wa.me/message/MBTZZNPUOPJTJ1"><img src="{% static 'imgs/logo/wa.png' %}"
                                                                            alt="Email"
                                                                            style="max-width:20px;max-height:20px"> +63
                            939 695 9716</a>

                        <a href="https://www.facebook.com/profile.php?id=100090552585190" class="link"><img
                                src="{% static 'imgs/logo/fb.png' %}" alt="Facebook"
                                style="max-width:20px;max-height:20px"> Тропик Джой Трэвел</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
