<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/sub-styles.css' %}">
    <link rel="icon" href="{% static 'imgs/logo/palms.png' %}">
</head>
<body dir="rtl">


{% include 'ar/base/sub-header.html' %}
{% block content %}

{% endblock %}
{% include 'ar/base/sub-footer.html' %}

<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-60px";
      }
      prevScrollpos = currentScrollPos;
    }

</script>

</body>
</html>