{% extends 'ar/base/sub-base.html' %}

{% load static %}

{% block title %} النقل و المواصلات {% endblock %}

{% block content %}

<style>


</style>

<div style="text-align:center;padding:50px;width:100%;background-image:url({% static 'imgs/offers/cebu1.jpg' %});margin-bottom:50px;
background-repeat:no-repeat;background-size:cover;background-position:center;background-attachment:fixed;text-align:center;">
    <p style="color:black;text-shadow:2px 2px 4px darkred;padding:25px;font-weight:900;font-size:2rem;">خدمات النقل و
        المواصلات </p>
    <div style="padding:30px;margin:0 auto;width:90%;padding:5px;background-color:rgba(256, 256, 256, 0.5);
    border-radius:10px;text-shadow:0 1px 2px black;box-shadow:0px 2px 5px -1px black;">
        <p style="padding:20px;text-align:left;font-size:1.4rem;text-align:right;">
            <b>

                إذا كنت بحاجة إلى نقل من أي مكان إلى أي وجهة ، فما عليك سوى الاتصال بنا ، سنكون سعداء بالمساعدة

            </b>
        </p>
    </div>
</div>

<div class="container-gallery">

    <div class="feature">
        <div class="featured-item image-holder r-3-2 transition"></div>
    </div>

    <div class="gallery-wrapper">
        <div class="gallery">
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 active transition"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 transition"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 transition"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 transition"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 transition"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 transition"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 transition"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 transition"></div>
            </div>
            <div class="item-wrapper-gallery">
                <div class="gallery-item image-holder r-3-2 transition"></div>
            </div>
        </div>
    </div>

    <div class="controls">
        <button class="move-btn left">&larr;</button>
        <button class="move-btn right">&rarr;</button>
    </div>

</div>


<div style="padding:100px;font-size:1.2rem;" dir="rtl">

    في توبيك جوي تريفل , يمكنك ان تكون متاكدا من توافر المواصلات حيث اننا نقدم لكم افضل السيارات مع امهر السائقين ,
    مهمتنا جعلك سعيد بتوفير كل احتياجاتك , معنا سوف تصل الى مواعيدك في الوقت دائما .
    <br><br>
    <a href="{% url 'contact_ar' %}" class="btn-sky">تواصل معنا</a>
</div>

<script>
	var gallery = document.querySelector('.gallery');
	var galleryItems = document.querySelectorAll('.gallery-item');
	var numOfItems = gallery.children.length;
	var itemWidth = 23;

	var featured = document.querySelector('.featured-item');

	var leftBtn = document.querySelector('.move-btn.left');
	var rightBtn = document.querySelector('.move-btn.right');
	var leftInterval;
	var rightInterval;

	var scrollRate = 0.2;
	var left;

	function selectItem(e) {
		if (e.target.classList.contains('active')) return;

		featured.style.backgroundImage = e.target.style.backgroundImage;

		for (var i = 0; i < galleryItems.length; i++) {
			if (galleryItems[i].classList.contains('active'))
				galleryItems[i].classList.remove('active');
		}

		e.target.classList.add('active');
	}

	function galleryWrapLeft() {
		var first = gallery.children[0];
		gallery.removeChild(first);
		gallery.style.left = -itemWidth + '%';
		gallery.appendChild(first);
		gallery.style.left = '0%';
	}

	function galleryWrapRight() {
		var last = gallery.children[gallery.children.length - 1];
		gallery.removeChild(last);
		gallery.insertBefore(last, gallery.children[0]);
		gallery.style.left = '-23%';
	}

	function moveLeft() {
		left = left || 0;

		leftInterval = setInterval(function () {
			gallery.style.left = left + '%';

			if (left > -itemWidth) {
				left -= scrollRate;
			} else {
				left = 0;
				galleryWrapLeft();
			}
		}, 1);
	}

	function moveRight() {
		if (left > -itemWidth && left < 0) {
			left = left - itemWidth;

			var last = gallery.children[gallery.children.length - 1];
			gallery.removeChild(last);
			gallery.style.left = left + '%';
			gallery.insertBefore(last, gallery.children[0]);
		}

		left = left || 0;

		leftInterval = setInterval(function () {
			gallery.style.left = left + '%';

			if (left < 0) {
				left += scrollRate;
			} else {
				left = -itemWidth;
				galleryWrapRight();
			}
		}, 1);
	}

	function stopMovement() {
		clearInterval(leftInterval);
		clearInterval(rightInterval);
	}

	leftBtn.addEventListener('mouseenter', moveLeft);
	leftBtn.addEventListener('mouseleave', stopMovement);
	rightBtn.addEventListener('mouseenter', moveRight);
	rightBtn.addEventListener('mouseleave', stopMovement);


	(function init() {
		var images = [
			"{% static 'imgs/offers/trans1.jpg' %}",
			"{% static 'imgs/offers/city17.jpg' %}",
			"{% static 'imgs/offers/city11.jpg' %}",
			"{% static 'imgs/offers/city12.jpg' %}",
			"{% static 'imgs/offers/city8.jpg' %}",
			"{% static 'imgs/offers/city15.jpg' %}",
			"{% static 'imgs/offers/tourin6.jpg' %}",
			"{% static 'imgs/offers/hopping4.jpg' %}",
			"{% static 'imgs/offers/hopping5.jpg' %}",
			"{% static 'imgs/offers/safari9.jpg' %}",
			"{% static 'imgs/offers/trans2.jpeg' %}",
		];


		featured.style.backgroundImage = 'url(' + images[0] + ')';


		for (var i = 0; i < galleryItems.length; i++) {
			galleryItems[i].style.backgroundImage = 'url(' + images[i] + ')';
			galleryItems[i].addEventListener('click', selectItem);
		}
	})();


</script>

{% endblock %}