<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>{% block title %}{% endblock %}</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">

    <!-- Bootstrap + Creative Studio main styles -->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Site icon -->
   <link rel="icon" href="{% static 'imgs/logo/palms.png' %}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
{% include 'en/base/header.html' %}
{% block content %}

{% endblock %}
{% include 'en/base/footer.html' %}
    <!-- core  -->
    <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap affix -->
    <script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Creative Studio js -->
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
